{% extends 'base.html' %}

{% block title_block %}
	- Course Student
{% endblock title_block %}

{% block body_block %}
	<div>
		{% if course_enrolled %}
			<h1> Student of </h1>
			<br />
			<hr />
			<ol>
				{% for course in course_enrolled %}
					<li>
						<a href="{% url 'course_index' course.id %}">
							{{ course.course_name }} ({{ course.session_name }})
						</a>
					</li>
					<br />
				{% endfor %}
			</ol>
		{% else %}
			<p> No course enrolled yet </p>
		{% endif%}
		
		{% if request.user.username == username %}
			<a href="{% url 'enroll_course' %}">
				<button type="button"> Enroll Course </button>
			</a>
			<br />
		{% endif %}
	</div>
{% endblock body_block %}
